header{
    position: fixed;
    width: 100vw;
    color: var(--White);
    z-index: 100;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;    
        gap: 1.5rem;
       
    }
   
   
}